<div class="mb-4 flex justify-between w-full max-w-[1440px] mx-auto px-4">
  <div>
    <h3 class="text-foreground font-semibold">User Complaints</h3>
    <div class="text-muted-foreground text-xs font-medium">
      <a href="#" class="hover:text-primary">Dashboards > User Complaints</a>
    </div>
  </div>
</div>

<div class="flex w-full max-w-[1440px] mx-auto flex-col pb-3">
  <div class="flex w-full space-x-3">
    <div class="flex-1 min-w-[300px] w-[50%] max-h-[400px] p-6 overflow-auto box-border" (mouseenter)="stopAutoSwipe()" (mouseleave)="startAutoSwipe()">
      <strong class="text-lg font-semibold">Client Complaints</strong>
      <app-client-complaint (reportSelected)="openModal($event)"></app-client-complaint>
    </div>

    <div class="flex-1 min-w-[300px] w-[50%] max-h-[400px] p-6 overflow-auto box-border" (mouseenter)="stopAutoSwipe()" (mouseleave)="startAutoSwipe()">
      <strong class="text-lg font-semibold">Tasker Complaints</strong>
      <app-tasker-complaint (reportSelected)="openModal($event)"></app-tasker-complaint>
    </div>
  </div>
</div>

<div class="flex justify-end w-full max-w-[1440px] mx-auto px-4">
  <div class="flex items-end space-x-4">
    <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportCSV()">
      <svg-icon src="./assets/icons/heroicons/outline/csvDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      <span>Export CSV</span>
    </button>
    <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportPDF()">
      <svg-icon src="./assets/icons/heroicons/outline/pdfDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      <span>Export PDF</span>
    </button>
  </div>
</div>
<div class="py-2"></div>

<div *ngIf="userRole === 'Moderator'" class="border-gray-200 w-full max-w-[1440px] mx-auto flex-col rounded-xl min-h-[400px] shadow-md">
  <div class="border-gray-200 bg-white flex w-full max-w-[1440px] mx-auto flex-col rounded-xl border p-4">
    <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
      <div class="text-muted-foreground text-sm font-medium"></div>
      <div class="flex flex-wrap items-center gap-2 w-full lg:w-auto">
        <div class="flex-1 min-w-[200px] lg:min-w-[300px] xl:min-w-[400px]">
          <label class="relative w-full">
            <div class="absolute left-2.5 top-1/2 -translate-y-1/2">
              <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
            </div>
            <input name="search" class="w-full py-2 pl-8 pr-2 border rounded-md" placeholder="Moderator Search Users" type="text" (input)="searchReports($event)" />
          </label>
        </div>
        <select name="status" class="text-muted-foreground w-28! p-2 border rounded-md" (change)="filterReports($event)">
          <option value="">All Status</option>
          <option value="pending">Pending</option>
          <option value="processed">Processed</option>
        </select>
      </div>
    </div>

    <div class="overflow-x-auto w-full">
      <table class="w-full border-collapse border-0 text-left text-sm">
        <thead class="border-b">
          <tr>
            <th class="px-4 py-2 text-start min-w-[140px] lg:min-w-[300px] xl:min-w-[230px]">
              <div class="flex items-center gap-1 cursor-pointer">
                Reporter Name
                <img src="https://img.icons8.com/?size=100&id=100700&format=png&color=000000" class="w-4 h-4" (click)="toggleSort()">
              </div>
            </th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[300px] xl:min-w-[250px]">Violator Name</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[200px] xl:min-w-[200px]">Reporter Role</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[200px] xl:min-w-[180px]">Violator Role</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[200px] xl:min-w-[230px]">Date</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[300px] xl:min-w-[240px]">Status</th>
            <th class="px-4 py-2 text-start min-w-[80px] lg:min-w-[80px] xl:min-w-[80px]">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of displayReports; let i = index" class="hover:bg-card/50 h-[60px]">
            <td class="px-4 py-3 text-start">{{ report.reporter.first_name }} {{ report.reporter.middle_name }} {{ report.reporter.last_name }}</td>
            <td class="px-4 py-3 text-start">{{ report.violator.first_name }} {{ report.violator.middle_name }} {{ report.reporter.last_name }}</td>
            <td class="px-4 py-3 text-start">{{ report.reporter.user_role }}</td>
            <td class="px-4 py-3 text-start">{{ report.violator.user_role }}</td>
            <td class="px-4 py-3 text-start">{{ report.created_at }}</td>
            <td class="px-4 py-3 text-start">
              <span 
                [ngClass]="{
                  'bg-green-500': report.status, 
                  'bg-yellow-500': !report.status
                }" 
                class="inline-block w-[130px] py-1 px-7 text-sm font-semibold rounded-lg text-white text-center"
              >
                {{ report.status ? 'Processed' : 'Pending' }}
              </span>
            </td>
            
            <td class="flex items-start justify-start pt-3 pb-0 w-20">
              <button (click)="openModal(report.report_id)" class="flex items-start text-blue-500 hover:opacity-70">
                <img src="https://img.icons8.com/?size=100&id=cRLuJXPEgWhK&format=png&color=0000FF" alt="View Icon" class="w-5 h-5 mr-2">
                View
              </button>
            </td>
          </tr>
          <!-- Placeholder rows to ensure total rows match reportsPerPage -->
          <tr *ngFor="let placeholder of placeholderRows">
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="flex items-center justify-center pt-3 pb-0"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex justify-between items-center bg-white w-100%">
      <div class="text-muted-foreground flex items-center justify-between py-3 px-5 text-xs">
        <div class="flex items-center gap-2">
          Show
          <select class="w-[140px] p-2 border rounded-md" (change)="changeReportsPerPage($event)">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
          per page
        </div>
      </div>

      <div class="flex items-center justify-end gap-4 sticky bottom-0 left-0 right-0 bg-white p-2">
        <span class="text-sm border w-32 text-center">
          {{ startIndex }} - {{ endIndex }} of {{ filteredReports.length }}
        </span>

        <div class="inline-flex items-center gap-2">
          <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 disabled:opacity-50" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
            ◀
          </button>

          <ng-container *ngFor="let page of paginationButtons">
            <button *ngIf="page !== '...'" class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 text-sm" [ngClass]="{'bg-primary text-white': currentPage === page}" (click)="goToPage(page)">
              {{ page }}
            </button>
            <span *ngIf="page === '...'" class="text-gray-500">...</span>
          </ng-container>

          <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
            ▶
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="userRole === 'Admin'" class="border-gray-200 w-full max-w-[1440px] mx-auto flex-col rounded-xl min-h-[400px] shadow-md">
  <div class="border-gray-200 bg-white flex w-full max-w-[1440px] mx-auto flex-col rounded-xl border p-4">
    <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
      <div class="text-muted-foreground text-sm font-medium"></div>
      <div class="flex flex-wrap items-center gap-2 w-full lg:w-auto">
        <div class="flex-1 min-w-[200px] lg:min-w-[300px] xl:min-w-[400px]">
          <label class="relative w-full">
            <div class="absolute left-2.5 top-1/2 -translate-y-1/2">
              <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
            </div>
            <input name="search" class="w-full py-2 pl-8 pr-2 border rounded-md" placeholder="Admin Search Users" type="text" (input)="searchReports($event)" />
          </label>
        </div>
        <select name="status" class="text-muted-foreground w-28! p-2 border rounded-md" (change)="filterReports($event)">
          <option value="">All Status</option>
          <option value="pending">Pending</option>
          <option value="processed">Processed</option>
        </select>
      </div>
    </div>

    <div class="overflow-x-auto w-full">
      <table class="w-full border-collapse border-0 text-left text-sm">
        <thead class="border-b">
          <tr>
            <th class="px-4 py-2 text-start min-w-[140px] lg:min-w-[300px] xl:min-w-[230px]">
              <div class="flex items-start gap-1 cursor-pointer">
                Reporter Name
                <img src="https://img.icons8.com/?size=100&id=100700&format=png&color=000000" class="w-4 h-4" (click)="toggleSort()">
              </div>
            </th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[300px] xl:min-w-[250px]">Violator Name</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[200px] xl:min-w-[190px]">Reporter Role</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[200px] xl:min-w-[190px]">Violator Role</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[200px] xl:min-w-[240px]">Date</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[300px] xl:min-w-[220px]">Status</th>
            <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[300px] xl:min-w-[150px]">Handled By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of displayReports" class="hover:bg-card/50 h-[60px]">
            <td class="px-4 py-3 text-start">{{ report.reporter.first_name }} {{ report.reporter.middle_name }} {{ report.reporter.last_name }}</td>
            <td class="px-4 py-3 text-start">{{ report.violator.first_name }} {{ report.violator.middle_name }} {{ report.violator.last_name }}</td>
            <td class="px-4 py-3 text-start">{{ report.reporter.user_role }}</td>
            <td class="px-4 py-3 text-start">{{ report.violator.user_role }}</td>
            <td class="px-4 py-3 text-start">{{ report.created_at }}</td>
            <td class="px-4 py-3 text-start">
              <span 
                [ngClass]="{
                  'bg-green-500': report.status, 
                  'bg-yellow-500': !report.status
                }" 
                class="inline-block w-[130px] py-1 px-7 text-sm font-semibold rounded-lg text-white text-center"
              >
                {{ report.status ? 'Processed' : 'Pending' }}
              </span>
            </td>
            <td class="px-4 py-3 text-start"> {{ report.action_by ? report.actionBy.first_name + " " + report.actionBy.middle_name + " " + report.actionBy.last_name  : 'Empty' }} </td>
          </tr>

          <tr *ngFor="let placeholder of placeholderRows">
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
            <td class="px-4 py-3 text-center"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex justify-between items-center bg-white w-100%">
      <div class="text-muted-foreground flex items-center justify-between py-3 px-5 text-xs">
        <div class="flex items-center gap-2">
          Show
          <select class="w-[140px] p-2 border rounded-md" (change)="changeReportsPerPage($event)">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
          per page
        </div>
      </div>

      <div class="flex items-center justify-end gap-4 sticky bottom-0 left-0 right-0 bg-white p-2">
        <span class="text-sm border w-32 text-center">
          {{ startIndex }} - {{ endIndex }} of {{ filteredReports.length }}
        </span>

        <div class="inline-flex items-center gap-2">
          <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 disabled:opacity-50" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
            ◀
          </button>

          <ng-container *ngFor="let page of paginationButtons">
            <button *ngIf="page !== '...'" class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 text-sm" [ngClass]="{'bg-primary text-white': currentPage === page}" (click)="goToPage(page)">
              {{ page }}
            </button>
            <span *ngIf="page === '...'" class="text-gray-500">...</span>
          </ng-container>

          <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
            ▶
          </button>
        </div>
      </div>
    </div>
  </div>
</div>