<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="text-foreground font-semibold">Update User</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <a href="" class="hover:text-primary">Dashboards > User Management > Update User</a>
    </div>
  </div>
  <div>
    <app-button full impact="bold" shape="rounded" size="medium" tone="blue" (click)="navigateToUsermanagement()">Back</app-button>
  </div>
</div>

<!-- Loading State -->
<div *ngIf="isLoading" class="text-center">
  <p>Loading user data...</p>
</div>

<!-- Form (only show when data is loaded) -->
<div *ngIf="!isLoading" class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
  <form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="space-y-3 text-left">
      <div class="grid grid-cols-3 gap-5 p-5">
        <div class="mx-auto w-full max-w-xs">
          <div class="overflow-hidden rounded-lg bg-white shadow-md">
            <div class="h-78 flex w-full items-center justify-center bg-gray-100">
              <img
                [src]="imageUrl ? imageUrl : (profileImage || 'assets/default-avatar.png')"
                alt="Uploaded Image"
                class="h-full w-full object-cover"
                *ngIf="imageUrl || profileImage; else noImage"
              />
              <ng-template #noImage>
                <p class="text-gray-500">No image available</p>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-span-2">
          <div class="form__group mb-5">
            <div class="relative">
              <input
                type="text"
                id="firstName"
                [ngClass]="{ 'is__invalid-input': submitted && f['firstName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="firstName"
                [disabled]="true"
                readonly
              />
              <label
                for="firstName"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['firstName'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
              >
                First Name
              </label>
            </div>
            <div *ngIf="submitted && f['firstName'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['firstName'].errors['required']">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <div class="relative">
              <input
                type="text"
                id="middleName"
                [ngClass]="{ 'is__invalid-input': submitted && f['middleName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="middleName"
                [disabled]="true"
                readonly
              />
              <label
                for="middleName"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['middleName'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
              >
                Middle Name
              </label>
            </div>
          </div>

          <div class="form__group mb-5">
            <div class="relative">
              <input
                type="text"
                id="lastName"
                [ngClass]="{ 'is__invalid-input': submitted && f['lastName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="lastName"
                [disabled]="true"
                readonly
              />
              <label
                for="lastName"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['lastName'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
              >
                Last Name
              </label>
            </div>
            <div *ngIf="submitted && f['lastName'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['lastName'].errors['required']">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <div class="relative">
              <input
                type="date"
                id="bday"
                [ngClass]="{ 'is__invalid-input': submitted && f['bday'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="bday"
                [max]="today" 
                [disabled]="true"
                readonly/>
              <label
                for="bday"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['bday'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
              >
                Birthday
              </label>
            </div>
            <div *ngIf="submitted && f['bday'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['bday'].errors['required']">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <div class="relative">
              <input
                type="email"
                id="email"
                [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="email"
                [disabled]="true"
                readonly
              />
              <label
                for="email"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['email'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
              >
                Email
              </label>
            </div>
            <div *ngIf="submitted && f['email'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['email'].errors['required']">Required field</div>
              <div *ngIf="f['email'].errors['email']">Invalid email format</div>
            </div>
            <div *ngIf="duplicateEmailError" class="px-1 pt-1 text-xs text-red-500">
            </div>
          </div>

          <div class="mb-5 grid grid-cols-2 gap-5">
            <div class="form__group">
              <div class="relative">
                <select
                  id="userRole"
                  class="peer block w-full rounded border px-3 py-2"
                  formControlName="userRole"
                  [ngClass]="{ 'border-red-500': submitted && f['userRole'].errors }"
                  [disabled]="true"
                  readonly
                >
                  <option value="" disabled selected>Select User Role</option>
                  <option value="Client" class="non-interactive" hidden>Client</option>
                  <option value="Admin">Admin</option>
                  <option value="Moderator">Moderator</option>
                  <option value="Tasker" class="non-interactive" hidden>Tasker</option>
                </select>
              </div>
              <div *ngIf="submitted && f['userRole'].errors" class="pt-1 text-xs text-red-500">
                <div *ngIf="f['userRole'].errors['required']">Required field</div>
              </div>
            </div>

            <div class="form__group">
              <div class="relative">
                <select
                  id="status"
                  class="peer block w-full rounded border px-3 py-2"
                  formControlName="status"
                  [ngClass]="{ 'border-red-500': submitted && f['status'].errors }"
                  [disabled]="true"
                  readonly> 
                  <option value="" disabled selected>Select User Status</option>
                  <option value="Active">Active</option>
                  <option value="Pending">Pending</option>
                  <option value="Deactivate" class="non-inter" hidden>Deactivate</option>
                  <option value="Block" class="non-interactive" hidden>Block</option>
                  <option value="Ban">Ban</option>
                  <option value="Suspend" class="non-interactive" hidden>Suspend</option>
                  <option value="Warn">Warn</option>
                  <option value="Review">Review</option>
                </select>
              </div>
              <div *ngIf="submitted && f['status'].errors" class="pt-1 text-xs text-red-500">
                <div *ngIf="f['status'].errors['required']">Required field</div>
              </div>
            </div>
          </div>

          <div>
            <app-button full impact="bold" shape="rounded" size="medium" type="submit" tone="blue">Update User</app-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>