<div>
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
    <!-- Admin Card -->
    <div class="bg-white rounded-lg p-4 shadow-md md:col-span-2 xl:col-span-1">
      <h3 class="text-lg font-semibold">Number of Admins</h3>
      <p class="text-2xl">{{ adminCount }}</p>
    </div>
    <!-- Moderator Card -->
    <div class="bg-white rounded-lg p-4 shadow-md md:col-span-2 xl:col-span-1">
      <h3 class="text-lg font-semibold">Number of Moderators</h3>
      <p class="text-2xl">{{ moderatorCount }}</p>
    </div>
    <!-- Client Card -->
    <div class="bg-white rounded-lg p-4 shadow-md md:col-span-2 xl:col-span-1">
      <h3 class="text-lg font-semibold">Number of Clients</h3>
      <p class="text-2xl">{{ clientCount }}</p>
    </div>
    <!-- Tasker Card -->
    <div class="bg-white rounded-lg p-4 shadow-md md:col-span-2 xl:col-span-1">
      <h3 class="text-lg font-semibold">Number of Taskers</h3>
      <p class="text-2xl">{{ taskerCount }}</p>
    </div>

    <!-- Single Card -->
    <div nft-chart-card class="md:col-span-4 xl:col-span-4"></div>
    <!-- end Single Card -->

    <div nft-auctions-table class="md:col-span-2 xl:col-span-2"></div>
    <div user-chart-card class="md:col-span-2 xl:col-span-2"></div>
    <!-- Single Card -->

    <!-- end Single Card -->
    <!-- Auctions Table -->
  </div>
</div>