<!-- Header showing the title -->
<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold font-poppins text-[#3C28CC] text-xl py-2">User Logs</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <a href="" class=" text-sm font-poppins hover:text-[#3C28CC] py-2"><strong>Dashboards > User Logs</strong></a>
      <p class=" py-2 text-sm font-poppins">Thsi is used to view the logs of the users in the application</p>
    </div>
  </div>
</div>

<div *ngIf="isDataLoaded" class="mb-4 flex justify-between">
  <div class="inline-block"></div>
  <div class="flex space-x-4">
    <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportCSV()">
      <svg-icon src="./assets/icons/heroicons/outline/csvDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      <span>Export CSV</span>
    </button>
    <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportPDF()">
      <svg-icon src="./assets/icons/heroicons/outline/pdfDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      <span>Export PDF</span>
    </button>
  </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="isLoading" class="fixed inset-0 z-50 flex flex-col justify-center items-center lg:w-308 lg:h-170 xl:w-420 xl:h-200 ">
  <div class="animate-slow-spin text-xs text-[#3C28CC] flex flex-col justify-center items-center">
    <svg-icon src="./assets/icons/heroicons/outline/logo.svg" [svgClass]="'h-20 w-20'"></svg-icon>
    <strong>Nearby Task</strong>
  </div>
</div>

<!-- Main container with search, filter, table, and pagination -->
<div *ngIf="isDataLoaded" class="border-muted/20 bg-background flex w-full max-w-[1440px] mx-auto flex-col rounded-xl border p-4">
  <!-- Search and Filter Section -->
  <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
    <div class="text-muted-foreground text-sm font-medium"></div>
    <div class="flex flex-wrap items-center gap-2 w-full lg:w-auto">
      <!-- Search input -->
      <div class="flex-1 min-w-[200px] lg:min-w-[300px] xl:min-w-[400px]">
        <label class="relative w-full">
          <div class="absolute left-2.5 top-1/2 -translate-y-1/2">
            <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
          </div>
          <input name="search" class="w-full py-2 pl-8 pr-2 border rounded-md" 
                 placeholder="Search users logs" type="text" (input)="searchLogs($event)" />
        </label>
      </div>
      <!-- Role filter dropdown -->
      <select name="role" class="text-muted-foreground w-28! p-2" (change)="filterLogs($event)">
        <option value="">All Roles</option>
        <option value="admin">Admin</option>
        <option value="moderator">Moderator</option>
        <option value="client">Client</option>
        <option value="tasker">Tasker</option>
      </select>
      <!-- Status filter dropdown -->
      <select name="status" class="text-muted-foreground w-28! p-2" (change)="filterLogs($event)">
        <option value="">All Status</option>
        <option value="active">Online</option>
        <option value="disabled">Offline</option>
      </select>
    </div>
  </div>

  <!-- Table to display logs -->
  <div class="overflow-x-auto w-full">
    <table class="w-full border-collapse border-0 text-left text-sm">
      <thead class="border-b">
        <tr>
          <th class="px-4 py-2 text-start min-w-[150px] lg:min-w-[300px] xl:min-w-[280px]">
            <div class="flex items-center gap-1 cursor-pointer" (click)="toggleSort()">
              User Name
              <span class="w-4 h-4">
                <ng-container *ngIf="sortDirection === 'asc'">
                  <span title="Ascending">▲</span>
                </ng-container>
                <ng-container *ngIf="sortDirection === 'desc'">
                  <span title="Descending">▼</span>
                </ng-container>
                <ng-container *ngIf="sortDirection === 'default'">
                  <span title="Newest to Oldest">↕</span>
                </ng-container>
              </span>
            </div>
          </th>
          <th class="px-4 py-2 text-start pl-11 min-w-[140px] lg:min-w-[300px] xl:min-w-[170px]">User Role</th>
          <th class="px-4 py-2 text-start pl-11 min-w-[150px] lg:min-w-[200px] xl:min-w-[220px]">Time Start</th>
          <th class="px-4 py-2 text-start pl-11 min-w-[150px] lg:min-w-[200px] xl:min-w-[250px]">Time End</th>
          <th class="px-4 py-2 text-start pl-11 min-w-[150px] lg:min-w-[300px] xl:min-w-[100px]">Status</th>
        </tr>
      </thead>
      <tbody *ngIf="displayLogs.length > 0">
        <!-- Loop through logs to show each row -->
        <tr *ngFor="let log of displayLogs; let i = index" class="hover:bg-card/50 h-[60px]">
          <td class="px-4 py-3 text-start font-normal">{{ log.user.first_name }} {{ log.user.middle_name }} {{ log.user.last_name }}</td>
          <td class="px-4 py-3 text-start pl-10 font-normal">{{ log.user.user_role ? log.user.user_role : 'Null' }}</td>
          <td class="px-4 py-3 text-start pl-13 font-normal">{{ log.logged_in }}</td>
          <td class="px-4 py-3 text-start pl-13 font-normal">{{ log.logged_out ? log.logged_out : 'Empty' }}</td>
          <td class="px-4 py-3 pl-10 text-start font-normal">
            <div class="flex items-center gap-2.5 font-['Arial']">
              <div class="h-2.5 w-2.5 rounded-full" [ngClass]="log.user.status ? 'bg-green-500' : 'bg-red-500'"></div>
              <span class="text-sm text-black">{{ log.user.status ? 'Online' : 'Offline' }}</span>
            </div>
          </td>
        </tr>
        <!-- Placeholder rows to ensure total rows match logsPerPage -->
        <tr *ngFor="let placeholder of placeholderRows">
          <td class="px-4 py-3 text-center font-normal"></td>
          <td class="px-4 py-3 text-center font-normal"></td>
          <td class="px-4 py-3 text-center pl-10 font-normal"></td>
          <td class="px-4 py-3 text-center pl-13 font-normal"></td>
          <td class="px-4 py-3 text-center pl-13 font-normal"></td>
          <td class="px-4 py-3 text-center pl-10 font-normal"></td>
        </tr>
      </tbody>
      <tbody *ngIf="displayLogs.length === 0">
        <tr [ngStyle]="{'height': logsPerPage * 60 + 'px'}">
          <td colspan="5" class="text-center align-middle">No Data Found</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Section -->
  <div *ngIf="isDataLoaded" class="flex justify-between items-center bg-white w-100%">
    <!-- Logs per page selector -->
    <div class="text-muted-foreground flex items-center justify-between py-3 px-5 text-xs">
      <div class="flex items-center gap-2">
        Show
        <select class="w-[140px] p-2 border rounded-md" (change)="changeLogsPerPage($event)">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        per page
      </div>
    </div>

    <!-- Pagination controls -->
    <div class="flex items-center justify-end gap-4 sticky bottom-0 left-0 right-0 bg-white p-2">
      <!-- Show current range of logs -->
      <span class="text-sm border w-32 text-center">
        {{ startIndex }} - {{ endIndex }} of {{ filteredLogs.length }}
      </span>

      <!-- Pagination buttons -->
      <div class="inline-flex items-center gap-2">
        <!-- Previous page button -->
        <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 disabled:opacity-50"
                [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                <svg-icon src="./assets/icons/heroicons/outline/arrow-long-left.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </button>

        <!-- Page number buttons -->
        <ng-container *ngFor="let page of paginationButtons">
          <button *ngIf="page !== '...'"
                  class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 text-sm"
                  [ngClass]="{'bg-primary text-white': currentPage === page}"
                  (click)="goToPage(page)">
            {{ page }}
          </button>
          <span *ngIf="page === '...'" class="text-gray-500">...</span>
        </ng-container>

        <!-- Next page button -->
        <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300"
                [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
                <svg-icon src="./assets/icons/heroicons/outline/arrow-long-right.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </button>
      </div>
    </div>
  </div>
</div>