<div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold font-poppins text-[#3C28CC] text-xl py-2">Add User</h3>
      <div class="text-muted-foreground space-x-1 text-xs font-medium">
        <a href="" class=" text-sm font-poppins hover:text-[#3C28CC] py-2"><strong>User Management > Add User</strong></a>
        <p class=" py-2 text-sm font-poppins">This is used to add users who are admin or moderator</p>
      </div>
    </div>
  <div class="hover:scale-120 transition-transform duration-500">
    <app-button full impact="bold" shape="rounded" size="medium" tone="blue" (click)="navigateToUsermanagement()">
      Back
    </app-button>
  </div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
  <!-- Add User form -->
  <form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="space-y-3 text-left">
      <div class="grid grid-cols-3 gap-5 p-5">
        <div class="mx-auto w-full max-w-xs">
          <div class="overflow-hidden rounded-lg bg-white shadow-md">
            <div class="h-48 flex w-full items-center justify-center bg-gray-100">
              <img
                [src]="imagePreview || 'https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg'"
                (error)="imagePreview = null" 
                alt="Uploaded Image"
                class="h-full w-full object-cover"/>
            </div>

            <!-- File Input -->
            <div class="p-4">
              <label for="profileImage" class="block text-center text-sm font-medium text-gray-700"
                >Upload Profile Image</label
              >
              <input
                type="file"
                id="profileImage"
                class="mt-2 block w-full cursor-pointer rounded-lg border border-gray-300 p-2 text-sm text-gray-900 focus:outline-none"
                (change)="onFileChange($event)"
                accept="image/*" />
              <div *ngIf="submitted && f['profileImage'].errors" class="px-1 pt-1 text-center text-xs text-red-500">
                <div *ngIf="f['profileImage'].errors['required']" class="px-1 pt-1 text-xs text-red-500">
                  Required field
                </div>
              </div>
            </div>
          </div>
          <!-- Password validation indicators (moved here) -->
          <div class="text-xs space-y-1 mt-2 pl-4 pt-20" *ngIf="f['password'].value">
            <h1><strong>REQUIREMENTS:</strong></h1>
            <div [ngClass]="{'text-green-500': passwordValidation.minLength, 'text-red-500': !passwordValidation.minLength}">
              • At least 8 characters
            </div>
            <div [ngClass]="{'text-green-500': passwordValidation.lowercase, 'text-red-500': !passwordValidation.lowercase}">
              • At least one lowercase letter
            </div>
            <div [ngClass]="{'text-green-500': passwordValidation.uppercase, 'text-red-500': !passwordValidation.uppercase}">
              • At least one uppercase letter
            </div>
            <div [ngClass]="{'text-green-500': passwordValidation.number, 'text-red-500': !passwordValidation.number}">
              • At least one number
            </div>
            <div [ngClass]="{'text-green-500': passwordValidation.specialChar, 'text-red-500': !passwordValidation.specialChar}">
              • At least one special character (!#$%^&*())
            </div>
            <div [ngClass]="{'text-green-500': passwordValidation.noSpaces, 'text-red-500': !passwordValidation.noSpaces}">
              • No spaces allowed
            </div>
          </div>
        </div>

        <div class="col-span-2">
          <div class="form__group mb-5">
            <!-- First Name -->
            <div class="relative">
              <input
                type="text"
                id="firstName"
                [ngClass]="{ 'is__invalid-input': submitted && f['firstName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="firstName" />
              <label
                for="firstName"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['firstName'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                First Name
              </label>
            </div>
            <div *ngIf="submitted && f['firstName'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['firstName'].errors['required']" class="px-1 pt-1 text-xs text-red-500">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Middle Name -->
            <div class="relative">
              <input
                type="text"
                id="middleName"
                [ngClass]="{ 'is__invalid-input': submitted && f['middleName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="middleName" />
              <label
                for="middleName"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['middleName'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                Middle Name
              </label>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Last Name -->
            <div class="relative">
              <input
                type="text"
                id="lastName"
                [ngClass]="{ 'is__invalid-input': submitted && f['lastName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="lastName" />
              <label
                for="lastName"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['lastName'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                Last Name
              </label>
            </div>
            <div *ngIf="submitted && f['lastName'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['lastName'].errors['required']" class="px-1 pt-1 text-xs text-red-500">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Birthday -->
            <div class="relative">
              <input
                type="date"
                id="bday"
                [ngClass]="{ 'is__invalid-input': submitted && f['bday'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="bday"
                [max]="today" />
              <label
                for="bday"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['bday'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                Birthday
              </label>
            </div>
            <div *ngIf="submitted && f['bday'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['bday'].errors['required']" class="px-1 pt-1 text-xs text-red-500">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Email -->
            <div class="relative">
              <input
                type="email"
                id="email"
                [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="email" />
              <label
                for="email"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['email'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                Email
              </label>
            </div>
            <div *ngIf="submitted && f['email'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['email'].errors['required']" class="px-1 pt-1 text-xs text-red-500">Required field</div>
            </div>
            <div *ngIf="duplicateEmailError" class="px-1 pt-1 text-xs text-red-500">
              {{ duplicateEmailError }}
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Contact -->
            <div class="relative">
              <input
                type="text"
                id="contact"
                [ngClass]="{ 'is__invalid-input': submitted && f['contact'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="contact" />
              <label
                for="contact"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['contact'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                Contact Number
              </label>
            </div>
            <div *ngIf="submitted && f['contact'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['contact'].errors['required']" class="px-1 pt-1 text-xs text-red-500">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Gender -->
            <div class="relative">
              <select
                id="gender"
                class="peer block w-full rounded border px-3 py-2"
                formControlName="gender"
                [ngClass]="{ 'border-red-500': submitted && f['gender'].errors }"
                required>
                <option value="" disabled selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div *ngIf="submitted && f['gender'].errors" class="pt-1 text-xs text-red-500">
              <div *ngIf="f['gender'].errors['required']">Required field</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Password -->
            <div class="relative">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                id="password"
                [ngClass]="{ 'is__invalid-input': submitted && f['password'].errors }"
                class="peer block w-full h-12 py-3 px-4 pr-10 rounded-md"
                placeholder=" "
                formControlName="password" />
              <label
                for="password"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['password'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                Password
              </label>
              <!-- Toggle Button -->
              <button
                type="button"
                (click)="togglePasswordTextType()"
                [attr.aria-label]="passwordTextType ? 'Hide password' : 'Show password'"
                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 hover:text-gray-700 focus:outline-none">
                <svg
                  *ngIf="!passwordTextType"
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                <svg
                  *ngIf="passwordTextType"
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.542 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                </svg>
              </button>
            </div>
            <!-- Password validation errors -->
            <div *ngIf="submitted && f['password'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['password'].errors['required']">Password is required.</div>
              <div *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters long.</div>
              <div *ngIf="f['password'].errors['lowercase']">Password must contain at least one lowercase letter.</div>
              <div *ngIf="f['password'].errors['uppercase']">Password must contain at least one uppercase letter.</div>
              <div *ngIf="f['password'].errors['number']">Password must contain at least one number.</div>
              <div *ngIf="f['password'].errors['specialChar']">Password must contain at least one special character (!#$%^&*()).</div>
              <div *ngIf="f['password'].errors['noSpaces']">Password must not contain spaces.</div>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Confirm Password -->
            <div class="relative">
              <input
                [type]="confirmPasswordTextType ? 'text' : 'password'"
                id="confirmPassword"
                [ngClass]="{ 'is__invalid-input': submitted && f['confirmPassword'].errors }"
                class="peer block w-full h-12 py-3 px-4 pr-10 rounded-md"
                placeholder=" "
                formControlName="confirmPassword" />
              <label
                for="confirmPassword"
                [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['confirmPassword'].errors }"
                class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
                Confirm Password
              </label>
              <!-- Toggle Button -->
              <button
                type="button"
                (click)="toggleConfirmPasswordTextType()"
                [attr.aria-label]="confirmPasswordTextType ? 'Hide password' : 'Show password'"
                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 hover:text-gray-700 focus:outline-none">
                <svg
                  *ngIf="!confirmPasswordTextType"
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                <svg
                  *ngIf="confirmPasswordTextType"
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.542 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                </svg>
              </button>
            </div>
            <!-- Confirm Password validation errors -->
            <div *ngIf="submitted && f['confirmPassword'].errors" class="px-1 pt-1 text-xs text-red-500">
              <div *ngIf="f['confirmPassword'].errors['required']">Confirm password is required.</div>
              <div *ngIf="f['confirmPassword'].errors['minlength']">Confirm password must be at least 8 characters long.</div>
              <div *ngIf="f['confirmPassword'].errors['lowercase']">Confirm password must contain at least one lowercase letter.</div>
              <div *ngIf="f['confirmPassword'].errors['uppercase']">Confirm password must contain at least one uppercase letter.</div>
              <div *ngIf="f['confirmPassword'].errors['number']">Confirm password must contain at least one number.</div>
              <div *ngIf="f['confirmPassword'].errors['specialChar']">Confirm password must contain at least one special character (!#$%^&*()).</div>
              <div *ngIf="f['confirmPassword'].errors['noSpaces']">Confirm password must not contain spaces.</div>
              <div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match.</div>
            </div>
          </div>

          <div class="mb-5 grid grid-cols-2 gap-5">
            <div class="form__group">
              <div class="relative">
                <select
                  id="userRole"
                  class="peer block w-full rounded border px-3 py-2"
                  formControlName="userRole"
                  [ngClass]="{ 'border-red-500': submitted && f['userRole'].errors }"
                  required>
                  <option value="" disabled selected>Select User Role</option>
                  <option value="Moderator">Moderator</option>
                  <option value="Admin">Admin</option>
                </select>
              </div>
              <div *ngIf="submitted && f['userRole'].errors" class="pt-1 text-xs text-red-500">
                <div *ngIf="f['userRole'].errors['required']">Required field</div>
              </div>
            </div>

            <div class="form__group">
              <div class="relative">
                <select
                  id="status"
                  class="peer block w-full rounded border px-3 py-2"
                  formControlName="status"
                  [ngClass]="{ 'border-red-500': submitted && f['status'].errors }"
                  required> 
                  <option value="" disabled selected>Select User status</option>
                  <option value="Pending">Pending</option>
                  <option value="Active">Verify</option>
                  <option value="Warn" >Warn</option>
                  <option value="Suspend" class="non-interactive" hidden>Suspend</option>
                  <option value="Ban" class="non-interactive" hidden>Ban</option>
                  <option value="Block">Block</option>
                  <option value="Deactivate" class="non-interactive" hidden>Deactivate</option>
                  <option value="Review">Review</option>
                </select>
              </div>
              <div *ngIf="submitted && f['status'].errors" class="pt-1 text-xs text-red-500">
                <div *ngIf="f['status'].errors['required']">Required field</div>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="hover:scale-102 transition-transform duration-500">
            <app-button full impact="bold" shape="rounded" size="medium" tone="blue">
              Add User
            </app-button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>