<div class="mb-4 flex justify-between w-full max-w-[1440px] mx-auto px-4">
  <div>
    <h3 class="text-foreground font-semibold">Payment Reviews</h3>
    <div class="text-muted-foreground text-xs font-medium">
      <a href="#" class="hover:text-primary">Dashboards > Payment Reviews</a>
    </div>
  </div>
  <div class="flex space-x-4">
    <button class="bg-[#E23670] text-[#F9F9F9] hover:bg-[#F07DA1] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500" (click)="exportCSV()">
      Export CSV
    </button>
    <button class="bg-[#E23670] text-[#F9F9F9] hover:bg-[#F07DA1] flex-none cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500" (click)="exportPDF()">
      Export PDF
    </button>
  </div>
</div>

<div class="border-muted-200 bg-white w-full max-w-[1440px] mx-auto flex-col rounded-xl border-4 min-h-[400px] shadow-md">

<div class="border-muted-200 bg-white flex w-full max-w-[1440px] mx-auto flex-col rounded-xl border p-4">
  <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
    <div class="text-muted-foreground text-sm font-medium"></div>
    <div class="flex flex-wrap items-center gap-2 w-full lg:w-auto">
      <div class="flex-1 min-w-[200px] lg:min-w-[300px] xl:min-w-[400px]">
        <label class="relative w-full">
          <div class="absolute left-2.5 top-1/2 -translate-y-1/2">
            <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
          </div>
          <input name="search" (input)="searchLogs($event)" class="w-full py-2 pl-8 pr-2 border rounded-md" placeholder="Search Users Name" type="text" />
        </label>
      </div>
      <div class="flex-1 min-w-[200px] lg:min-w-[200px] xl:min-w-[200px]">
        <select (change)="filterLogs($event)" class="w-full py-2 px-2 border rounded-md">
          <option value="">All Payment Types</option>
          <option value="Client Deposit">Client Deposit</option>
          <option value="Release of Payment to Tasker">Release of Payment to Tasker</option>
        </select>
      </div>
    </div>
  </div>

  <div class="overflow-x-auto w-full">
    <table class="w-full border-collapse border-0 text-left text-sm">
      <thead class="border-b">
        <tr>
          <th class="px-4 py-2 w-[80px] lg:w-[100px] ">Id</th>
          <th class="px-4 py-2 text-center min-w-[140px] lg:min-w-[300px] xl:min-w-[250px] ">User Name</th>
          <th class="px-4 py-2 text-center min-w-[150px] lg:min-w-[200px] xl:min-w-[250px] ">Amount</th>
          <th class="px-4 py-2 text-center min-w-[150px] lg:min-w-[200px] xl:min-w-[250px] ">Payment Type</th>
          <th class="px-4 py-2 text-center min-w-[150px] lg:min-w-[300px] xl:min-w-[250px] ">Created At</th>
          <th class="px-4 py-2 text-center min-w-[150px] lg:min-w-[300px] xl:min-w-[250px] ">Deposit Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of displayPaymentLogs; let i = index" class="hover:bg-card/50 h-[60px]">
          <td class="px-4 py-3 text-center">{{ (currentPage - 1) * this.logsPerPage + i + 1 }}</td>
          <td class="px-4 py-3 text-center">{{ log.user_name }}</td>
          <td class="px-4 py-3 text-center">{{ log.amount }}</td>
          <td class="px-4 py-3 text-center">{{ log.payment_type }}</td>
          <td class="px-4 py-3 text-center">{{ log.created_at }}</td>
          <td class="px-4 py-3 text-center">{{ log.deposit_date }}</td>
        </tr>
        <!-- Placeholder rows to ensure total rows match logsPerPage -->
        <tr *ngFor="let placeholder of placeholderRows">
          <td class="px-4 py-3 text-center"></td>
          <td class="px-4 py-3 text-center"></td>
          <td class="px-4 py-3 text-center"></td>
          <td class="px-4 py-3 text-center"></td>
          <td class="px-4 py-3 text-center"></td>
          <td class="px-4 py-3 text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-between items-center bg-white w-full">
    <div class="text-muted-foreground flex items-center justify-between py-3 px-5 text-xs">
      <div class="flex items-center gap-2">
        Show
        <select (change)="changeLogsPerPage($event)" class="w-[140px] p-2 border rounded-md">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        per page
      </div>
    </div>

    <div class="flex items-center justify-end gap-4 sticky bottom-0 left-0 right-0 bg-white p-2">
      <span class="text-sm border w-32 text-center">
        {{ startIndex }} - {{ endIndex }} of {{ filteredPaymentLogs.length }}
      </span>

      <div class="inline-flex items-center gap-2">
        <button (click)="previousPage()" class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300">
          ◀
        </button>

        <button *ngFor="let page of paginationButtons" 
                [disabled]="page === '...'" 
                (click)="goToPage(page)" 
                [class.bg-primary]="page === currentPage" 
                [class.text-white]="page === currentPage"
                class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 text-sm">
          {{ page }}
        </button>

        <button (click)="nextPage()" class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300">
          ▶
        </button>
      </div>
    </div>
  </div>
</div>

</div>