<div>
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="text-foreground font-semibold">User Management</h3>
      <div class="text-muted-foreground space-x-1 text-xs font-medium">
        <a href="" class="hover:text-primary"><b>Dashboards > User Management</b></a>
        <p>The user management is used for managing the users in the applications.</p>
      </div>
    </div>
  </div>
  <div class="mb-4 flex justify-between">
    <div class="inline-block"></div>
    <div class="flex space-x-4">
      <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportCSV()">
        <svg-icon src="./assets/icons/heroicons/outline/csvDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
        <span>Export CSV</span>
      </button>
      <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportPDF()">
        <svg-icon src="./assets/icons/heroicons/outline/pdfDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
        <span>Export PDF</span>
      </button>
      <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="navigateToAddUser()">
        <svg-icon src="./assets/icons/heroicons/outline/addDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
        <span>Add User</span>
      </button>
    </div>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="flex flex-col justify-center items-center h-64 animate-slow-spin text-xs text-[#3C28CC]">
    <svg-icon src="./assets/icons/heroicons/outline/logo.svg" [svgClass]="'h-20 w-20'"></svg-icon>
    <strong>Nearby Task</strong>
  </div>

  <div *ngIf="!isLoading" class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
    <app-table-action></app-table-action>
    <div
      class="scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted grow overflow-x-auto px-5 min-h-[300px]">
      <table
        class="text-muted-foreground table w-full table-auto border-collapse border-0 text-left align-middle leading-5">
        <thead class="border-muted/20 border text-xs">
          <tr app-table-header (onCheck)="toggleUsers($event)" (onSort)="handleSort($event)"></tr>
        </thead>
        <tbody class="min-h-[240px]">
          @for (user of filterService.currentUsers(); track $index) {
          <tr class="hover:bg-card/50 h-[60px]" app-table-row [user]="user"></tr>
          }@empty {
          <tr class="h-[60px]">
            <td class="py-4 text-center text-sm" colspan="7">No users found</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <app-table-footer></app-table-footer>
  </div>
</div>