<ng-container>
  <th
    class="border-muted/20 bg-muted/5 w-[220px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-start font-bold leading-[1.125rem] overflow-hidden text-ellipsis whitespace-nowrap h-[48px]">
    <div class="flex items-center gap-1 cursor-pointer" (click)="toggleSort()">
      Profile
      <span class="w-4 h-4">
        <ng-container *ngIf="sortState === 'asc'">▲</ng-container>
        <ng-container *ngIf="sortState === 'desc'">▼</ng-container>
        <ng-container *ngIf="sortState === 'default'">↕</ng-container>
      </span>
    </div>
  </th>
  <th
    class="border-muted/20 bg-muted/5 w-[160px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-start font-bold leading-[1.125rem] overflow-hidden text-ellipsis whitespace-nowrap h-[48px]">
    Role
  </th>
  <th
    class="border-muted/20 bg-muted/5 w-[220px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-start font-bold leading-[1.125rem] overflow-hidden text-ellipsis whitespace-nowrap h-[48px]">
    <div class="flex items-center gap-1 cursor-pointer" (click)="toggleSort()">
      Email
      <span class="w-4 h-4">
        <ng-container *ngIf="sortState === 'asc'">▲</ng-container>
        <ng-container *ngIf="sortState === 'desc'">▼</ng-container>
        <ng-container *ngIf="sortState === 'default'">↕</ng-container>
      </span>
    </div>
  </th>
  <th
    class="border-muted/20 bg-muted/5 w-[220px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-start font-bold leading-[1.125rem] overflow-hidden text-ellipsis whitespace-nowrap h-[48px]">
    Account
  </th>
  <th
    class="border-muted/20 bg-muted/5 w-[220px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-start font-bold leading-[1.125rem] overflow-hidden text-ellipsis whitespace-nowrap h-[48px]">
    Status
  </th>
  <th
    class="border-muted/20 bg-muted/5 w-[220px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-start font-bold leading-[1.125rem] overflow-hidden text-ellipsis whitespace-nowrap h-[48px]">
    Actions
  </th>
</ng-container>