<ng-container>
  <th
    class="border-muted/20 bg-muted/5 min-w-[20px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]">
    ID
  </th>
  <th
    class="border-muted/20 bg-muted/5 min-w-[180px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]">
    Profile
  </th>
  <th
    class="border-muted/20 bg-muted/5 min-w-[80px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]">
    Role
  </th>
  <th
    class="border-muted/20 bg-muted/5 min-w-[180px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]">
    Email
  </th>
  <th
    class="border-muted/20 bg-muted/5 min-w-[150px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]">
    Account
  </th>
  <th
    class="border-muted/20 bg-muted/5 min-w-[150px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]">
    Status
  </th>
  <th
    class="border-muted/20 bg-muted/5 min-w-[150px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]">
    Actions
  </th>
  <th
    class="border-muted/20 bg-muted/5 w-[120px] border-r border-b px-4 py-2 align-middle text-[0.8125rem] text-center font-medium leading-[1.125rem]"></th>
</ng-container>