<!--Header page navigation-->
<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold font-poppins text-[#3C28CC] text-xl py-2">User Communication</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <a href="" class=" text-sm font-poppins hover:text-[#3C28CC] py-2"><strong>Dashboards > User Communication</strong></a>
      <p class=" py-2 text-sm font-poppins">This is used for managing the users communication in the application</p>
    </div>
  </div>
</div>

<div *ngIf="!isLoading" class="flex justify-end w-full max-w-[1440px] mx-auto px-4">
  <div class="inline-block"></div>
  <div class="flex space-x-4">
    <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportCSV()">
      <svg-icon src="./assets/icons/heroicons/outline/csvDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      <span>Export CSV</span>
    </button>
    <button class="bg-[#5F50E7] text-[#F9F9F9] hover:bg-[#8174ED] cursor-pointer rounded-md px-4 py-2.5 text-xs font-semibold hover:scale-120 transition-transform duration-500 flex items-center space-x-2" (click)="exportPDF()">
      <svg-icon src="./assets/icons/heroicons/outline/pdfDL.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      <span>Export PDF</span>
    </button>
  </div>
</div>
<div class="py-2"></div>

<!-- Main container with search, filter, table, and pagination -->
<div *ngIf="!isLoading" class="border-muted-200 bg-white flex w-full max-w-[1440px] mx-auto flex-col rounded-xl border p-4">
  <!-- Search and Filter Section -->
  <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
    <div class="text-muted-foreground text-sm font-medium"></div>
    <div class="flex flex-wrap items-center gap-2 w-full lg:w-auto">
      <!-- Search input -->
      <div class="flex-1 min-w-[200px] lg:min-w-[300px] xl:min-w-[400px]">
        <label class="relative w-full">
          <div class="absolute left-2.5 top-1/2 -translate-y-1/2">
            <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
          </div>
          <input name="search" class="w-full py-2 pl-8 pr-2 border rounded-md" placeholder="Search users" type="text" (input)="searchConversations($event)" />
        </label>
      </div>

      <!-- Reported filter dropdown -->
      <select name="reported" class="text-muted-foreground w-28! p-2 border rounded-md" (change)="filterReported($event)">
        <option value="">All Reports</option>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
  </div>

  <!-- Table to display logs -->
  <div *ngIf="!isLoading" class="overflow-x-auto w-full">
    <table class="w-full border-collapse border-0 text-left text-sm">
      <thead class="border-b">
        <tr>
          <th class="px-4 py-2 text-start min-w-[100px] lg:min-w-[250px] xl:min-w-[140px]">
            <div class="flex items-center gap-1 cursor-pointer" (click)="toggleSort('viewedUser')">
              Viewed User
              <span class="w-4 h-4">
                <ng-container *ngIf="viewedUserSortMode === 'asc'">
                  <span title="Ascending">▲</span>
                </ng-container>
                <ng-container *ngIf="viewedUserSortMode === 'desc'">
                  <span title="Descending">▼</span>
                </ng-container>
                <ng-container *ngIf="viewedUserSortMode === 'default'">
                  <span title="Newest to Oldest">↕</span>
                </ng-container>
              </span>
            </div>
          </th>
          <th class="px-4 py-2 text-start min-w-[50px] lg:min-w-[150px] xl:min-w-[150px]">
            <div class="flex items-center gap-1 cursor-pointer" (click)="toggleSort('client')">
              Client Name
                <span class="w-4 h-4">
                  <ng-container *ngIf="clientSortMode === 'asc'">
                    <span title="Ascending">▲</span>
                  </ng-container>
                  <ng-container *ngIf="clientSortMode === 'desc'">
                    <span title="Descending">▼</span>
                  </ng-container>
                  <ng-container *ngIf="clientSortMode === 'default'">
                    <span title="Newest to Oldest">↕</span>
                  </ng-container>
                </span>
            </div>
          </th>
          <th class="px-4 py-2 text-start min-w-[100px] lg:min-w-[250px] xl:min-w-[150px]">
            <div class="flex items-center gap-1 cursor-pointer" (click)="toggleSort('tasker')">
              Tasker Name
              <span class="w-4 h-4">
                <ng-container *ngIf="taskerSortMode === 'asc'">
                  <span title="Ascending">▲</span>
                </ng-container>
                <ng-container *ngIf="taskerSortMode === 'desc'">
                  <span title="Descending">▼</span>
                </ng-container>
                <ng-container *ngIf="taskerSortMode === 'default'">
                  <span title="Newest to Oldest">↕</span>
                </ng-container>
              </span>
            </div>
          </th>
          <th class="px-4 py-2 text-start min-w-[100px] lg:min-w-[250px] xl:min-w-[150px]">Conversation</th>
          <th class="px-4 py-2 text-start min-w-[50px] lg:min-w-[150px] xl:min-w-[100px]">Action</th>
          <th *ngIf="userRole === 'Admin'" class="px-4 py-2 text-start min-w-[100px] lg:min-w-[250px] xl:min-w-[150px]">Moderator</th>
          <th *ngIf="userRole === 'Admin'" class="px-4 py-2 text-start min-w-[100px] lg:min-w-[250px] xl:min-w-[150px]">Action Reason</th>
        </tr>
      </thead>
      <tbody *ngIf="displayConversations.length > 0">
        <tr *ngFor="let convo of displayConversations" class="hover:bg-card/50 h-[60px]">
          <td class="px-4 py-3 text-start">{{ convo.user.first_name }} {{ convo.user.middlename }} {{ convo.user.last_name }}</td>
          <td class="px-4 py-3 text-start">{{ convo.task_taken.clients.user.first_name }} {{ convo.task_taken.clients.user.middle_name || '' }} {{ convo.task_taken.clients.user.last_name }}</td>
          <td class="px-4 py-3 text-start">{{ convo.task_taken.tasker.user.first_name }} {{ convo.task_taken.tasker.user.middle_name || '' }} {{ convo.task_taken.tasker.user.last_name }}</td>
          <td class="px-4 py-3 text-start">
            <div class="flex justify-start items-start mx-auto whitespace-pre-wrap break-words">
              <span class="line-clamp-1 max-w-[150px] pl-3">{{ convo.conversation }}</span>
            </div>
          </td>
          <td class="px-4 py-3 text-end">
            <div class="flex gap-2">
              <div class="flex">
                <div class="items-start justify-start pr-5 cursor-pointer hover:scale-150 transition-transform duration-500">
                  <img src="https://img.icons8.com/?size=100&id=uUW5OerKlsBF&format=png&color=228BE6" (click)="viewConversation(convo.task_taken.task_taken_id, convo.user_id ?? 0)" class="h-5 w-5">
                </div>
                <div class="items-start justify-start pr-5 cursor-pointer hover:scale-150 transition-transform duration-500" *ngIf="convo.user_id">
                  <img src="https://img.icons8.com/?size=100&id=11159&format=png&color=12B886" (click)="appealUser(convo.user_id, convo.task_taken.task_taken_id)" class="h-5 w-5">
                </div>
                <div class="items-start justify-start pr-5 cursor-pointer hover:scale-150 transition-transform duration-500" *ngIf="convo.user_id">
                  <img src="https://img.icons8.com/?size=100&id=Du7EMNaTRH39&format=png&color=FA5252" (click)="banUser(convo.user_id, convo.task_taken.task_taken_id)" class="h-5 w-5">
                </div>
                <div class="items-start justify-start pr-5 cursor-pointer hover:scale-150 transition-transform duration-500" *ngIf="convo.user_id">
                  <img src="https://img.icons8.com/?size=100&id=Em2iAW5GI5ir&format=png&color=FAB005" (click)="warnUser(convo.user_id, convo.task_taken.task_taken_id)" class="h-5 w-5">
                </div>
                <div class="items-start justify-start pr-5 cursor-pointer hover:scale-150 transition-transform duration-500 text-green-300 hover:opacity-70" *ngIf="convo.user_id">
                  <svg-icon src="./assets/icons/heroicons/outline/appeal.svg" [svgClass]="'h-4 w-4'" class="cursor-pointer"> </svg-icon>
                </div>
              </div>
            </div>
          </td> 
          <td *ngIf="userRole === 'Admin'" class="px-4 py-3 text-start">{{ convo.action_by || 'No Action Yet' }}</td>     
          <td *ngIf="userRole === 'Admin'" class="px-4 py-3 text-start">{{ convo.action_reason || 'Empty' }}</td>           
        </tr>
        
        <!-- Placeholder rows to maintain fixed table size -->
        <tr *ngFor="let placeholder of placeholderRows">
          <td class="px-4 py-3 text-center" colspan="4"></td>
        </tr>
      </tbody>
      <tbody *ngIf="displayConversations.length === 0">
        <tr [ngStyle]="{'height': conversationsPerPage * 60 + 'px'}">
          <td colspan="5" class="text-center align-middle">No Data Found</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Section -->
  <div *ngIf="!isLoading" class="flex justify-between items-center bg-white w-full">
    <!-- Logs per page selector -->
    <div class="text-muted-foreground flex items-center justify-between py-3 px-5 text-xs">
      <div class="flex items-center gap-2">
        Show
        <select class="w-[140px] p-2 border rounded-md" (change)="changeConversationsPerPage($event)">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        per page
      </div>
    </div>

    <!-- Pagination controls -->
    <div class="flex items-center justify-end gap-4 sticky bottom-0 left-0 right-0 bg-white p-2">
      <span class="text-sm border w-32 text-center">
        {{ startIndex }} - {{ endIndex }} of {{ filteredConversations.length }}
      </span>
      <div class="inline-flex items-center gap-2">
        <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300"
                [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                <svg-icon src="./assets/icons/heroicons/outline/arrow-long-left.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </button>
        <ng-container *ngFor="let page of paginationButtons">
          <button *ngIf="page !== '...'"
                  class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300 text-sm"
                  [ngClass]="{'bg-primary text-white': currentPage === page}"
                  (click)="goToPage(page)">
            {{ page }}
          </button>
          <span *ngIf="page === '...'">...</span>
        </ng-container>
        <button class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-gray-300"
                [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
                <svg-icon src="./assets/icons/heroicons/outline/arrow-long-right.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </button>
      </div>
    </div>
  </div>
</div>