<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="text-foreground font-semibold">Review User</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <a href="" class="hover:text-primary"><strong>Dashboards > User Management > Review User</strong></a>
      <p>This is used to review the users document credential</p>
    </div>
  </div>
  <!-- Back Button -->
  <div class="hover:scale-120 transition-transform duration-500">
    <app-button full impact="bold" shape="rounded" size="medium" (click)="navigateToUsermanagement()" tone="blue">Back</app-button>
  </div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
  <!-- Add User form -->
  <div></div>
  <form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="space-y-3 text-left">
      <div class="grid grid-cols-3 gap-5 p-5">
        <div class="mx-auto w-full max-w-xs">
          <div class="space-y-4">
            <!-- Profile and ID Images (side by side) -->
            <div class="mx-auto w-full max-w-xs">
              <div class="overflow-hidden rounded-lg bg-white shadow-md">
                <div class="h-78 flex w-full items-center justify-center bg-gray-100">
                  <img
                    [src]="profileImage"
                    alt="Profile Image"
                    class="h-full w-full object-cover" />
                </div>
                <div class="text-center py-2">
                  <p class="text-sm font-medium">Profile Image</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-2">
          <div class="form__group mb-5">
            <!-- First Name -->
            <div class="relative">
              <input
                type="text"
                id="firstName"
                [ngClass]="{ 'is__invalid-input': submitted && f['firstName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="firstName"
                [disabled]="true"
                readonly/>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Middle Name -->
            <div class="relative">
              <input
                type="text"
                id="middleName"
                [ngClass]="{ 'is__invalid-input': submitted && f['middleName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="middleName"
                [disabled]="true"
                readonly/>
            </div>
          </div>
          <div class="form__group mb-5">
            <!-- Last Name  -->
            <div class="relative">
              <input
                type="text"
                id="lastName"
                [ngClass]="{ 'is__invalid-input': submitted && f['lastName'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="lastName" 
                [disabled]="true"
                readonly/>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Birthdate -->
            <div class="relative">
              <input
                type="date"
                id="bday"
                [ngClass]="{ 'is__invalid-input': submitted && f['bday'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="bday"
                [disabled]="true"
                readonly/>
            </div>
          </div>

          <div class="form__group mb-5">
            <!-- Email -->
            <div class="relative">
              <input
                type="email"
                id="email"
                [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
                class="peer block"
                placeholder=" "
                formControlName="email"
                [disabled]="true"
                readonly/>
            </div>
          </div>

          <div class="mb-5 grid grid-cols-2 gap-5">
            <div class="form__group">
              <div class="relative">
                <select
                  id="userRole"
                  class="peer block w-full rounded border px-3 py-2"
                  formControlName="userRole"
                  [ngClass]="{ 'border-red-500': submitted && f['userRole'].errors }"
                  required>
                  <option value="" disabled selected>Select User Role</option>
                  <option value="Client" class="non-interactive" hidden>Client</option>
                  <option value="Moderator">Moderator</option>
                  <option value="Admin">Admin</option>
                  <option value="Tasker" class="non-interactive" hidden>Tasker</option>
                </select>
              </div>
            </div>

            <div class="form__group">
              <div class="relative">
                <select
                  id="status"
                  class="peer block w-full rounded border px-3 py-2"
                  formControlName="status"
                  [ngClass]="{ 'border-red-500': submitted && f['status'].errors }"
                  required> 
                  <option value="" disabled selected>Select User status</option>
                  <option value="Pending">Pending</option>
                  <option value="Active">Active</option>
                  <option value="Review">Review</option>
                </select>
              </div>
              <div *ngIf="submitted && f['status'].errors" class="pt-1 text-xs text-red-500">
                <div *ngIf="f['status'].errors['required']">Required field</div>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="">
            <div class="mb-5">
              <!-- Show Document or Image Button if Document Exists -->
              <button *ngIf="documentUrl && !isImage"
                type="button" 
                (click)="previewDocument()"
                class="bg-[#EC5987] block w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-[#EC5987] focus:outline-none focus:ring-4 focus:ring-[#EC5987] dark:bg-[#EC5987] dark:hover:bg-[#EC5987] dark:focus:ring-[#EC5987] hover:scale-105 transition-transform duration-500">
                Preview Documents
              </button>
              <button *ngIf="documentUrl && isImage"
                type="button" 
                (click)="previewImage()"
                class="bg-[#EC5987] block w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-[#EC5987] focus:outline-none focus:ring-4 focus:ring-[#EC5987] dark:bg-[#EC5987] dark:hover:bg-[#EC5987] dark:focus:ring-[#EC5987] hover:scale-105 transition-transform duration-500">
                Preview Image
              </button>
              <!-- Show No Document if No Document Exists -->
              <button *ngIf="!documentUrl"
                type="button"
                disabled
                class="bg-gray-400 block w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white cursor-not-allowed">
                No Documents Available
              </button>
              <div class="py-5">
                <button
                  type="button" 
                  (click)="compareImages()"
                  class="bg-[#5F50E7] block w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-[#3C28CC] focus:outline-none hover:scale-105 transition-transform duration-500">
                  Compare Id Photo and Selfie
                </button>
              </div>
              <app-button full impact="bold" shape="rounded" size="medium" tone="blue">Update User</app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>